<div class="app-card-container">
  <div class="card card-font-color">
    <h2>Want to work together?</h2>

    <hr>

    <div class="row">
      <div class="col-md-6">
        <h3>Address</h3>

        <p>Sandy, Utah</p>

        <h3>Phone</h3>

        <p><%= number_to_phone "801-864-0356" %></p>

        <h3>Email</h3>

        <p><a href="mailto:rjplayer@outlook.com?subject=PortfolioContact" "email me">Email me</a> </p>
      </div>

      <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d96979.38306132608!2d-111.91924983345773!3d40.57238340062479!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x875264f8c14e6e49%3A0x5fe27acb10715499!2sSandy%2C+UT!5e0!3m2!1sen!2sus!4v1520364802036" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></div>
    </div>
  </div>
</div>
