<h1>Pages#contact</h1>

<p><%= number_to_phone "5555555555" %></p>

<p>Find me in app/views/pages/contact.html.erb</p>

<p><%= number_to_currency "1710" %></p>
<!-- look up more about number_to_currency method -->

<p><%= number_to_percentage "80.2" %></p>
<p><%= number_with_delimiter "98640.2" %></p>